body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background-color 0.25s, color 0.25s;
}

/* SearchInput */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #242424;
    width: 95%;
    height: 75px;
    margin: 10px auto;
    border-radius: 10px 10px 0 0;
}

.magnifyingGlass, .xMark {
    font-size: 34px;
    color: gray;
    align-self: center;
    margin: 20px;
}

.xMark {
    cursor: pointer;
    transition: transform .1s ease-in;
}

.xMark:hover {
    transform: scale(1.2);
}

.searchInput {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 26px;
    color: lightgray;
    background: none;
}

.searchButton {
    width: 150px;
    height: 50px;
    background: linear-gradient(120deg, #fdcc02, #f202fa, #7202fa);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position .5s;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-right: 10px;
}

.searchButton:hover {
    background-position: 0 0;
}

/* SearchSuggestions */
.searchSuggestions {
    position: absolute;
    width: 95%;
    top: 85px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
}

.suggestionItem {
    font-size: 26px;
    padding: 10px;
    cursor: pointer;
    color: gray;
}

.suggestionItem:last-child {
    border-radius: 0 0 10px 10px;
}

/* ThemeButton */
.themeButton {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background: linear-gradient(-120deg, #dc02fd, #bc02fa, #fa027e);
    background-size: 350% 100%;
    background-position: 100% 0;
    transition: background-position 0.6s;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.themeButton:hover {
    background-position: 0 0;
}